img{
	width: 100%;
}
.bottom-fixed{
	position: fixed;
	bottom:0;
	right: 0;
	left: 0;
	padding:6px 3%;
	overflow: hidden;
	background: #ea6834;
}
.bottom-fixed img{
	float: left;
	display: inline-block;
	width: 35px;
}
.bottom-fixed .p-msg{
	overflow: hidden;
	padding-left: 10px;
	color: #ff0;
	font-size: 1.0rem;
}
.bottom-fixed .buy-btn{
	position: absolute;
	right: 3%;
	top: 50%;
	background: none;
	border:1px solid #ff0;
	font-size: 1.2rem;
	line-height: 25px;
	padding: 0 5px;
	color: #fff;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}
.tips{
	color: #Fff;
}
.img-box{
	padding-bottom: 48px;
	margin: 0;			
}
.img-box img,.lit-box,.buy_head,.buy_head img{
	width: 100%;
	margin-bottom:5px;
	display: block;
}
.lit-box img{
	margin:0;
}
.number,.price{
	overflow:hidden;
	/*height:55px;*/
	padding-bottom:10px;
	border-bottom:1px solid #ea6834;
}
.price{
	padding-top:15px;
}
.number p,.price p,.message p{
	font-size:1.7rem;
	font-weight:bold;
	color:#555;
	display:inline-block;
	margin-left:10px;
}
.price p,.message p{
	padding-bottom:5px;
	color:#aaa;
}
.reduce_add{
	display:inline;
	float:right;
	margin-right:10px;
	margin-top:3px;
}
.reduce img,.add img{
	width:13px;
}
.reduce_add .text{
	width:25px;
	line-height:17px;
	border:1px solid #ea6834;
	text-align:center;
}
.total{
	margin-left:10px;
}
.total span{
	font-size:1.4rem;
}
.total span.total_txt{
	padding-left:20px;
}
.total-font{
	color:#ea6834;
}
.message{
	margin-top:15px;
	margin-bottom:60px;
}
.message p{
	display:block;
}
.message ul{
    margin:10px 20px 0 20px;
    font-size:1.5rem;
}
.message li span.required{
	color:#ea6834;
}
.message input{ 
    border:1px solid #ea6834;
    line-height:25px;
    width:70%;
}
.message textarea.address,.message textarea.remark{
	height:70px;
	width:70%;
	border:1px solid #ea6834;
}
.message input.buy_btn{
	line-height:40px;
	text-align:center;
	background:#fdce81;
	font-size:1.6rem;
	font-weight:bold;
	color:#ea6834;
	margin:25px auto;
}