@charset "UTF-8";

body { background:#efeff4;}
.clear { clear:both;}

.reg_wrap { padding-top:15px;}

.reg_form { margin-bottom:15px; background:#fff; padding:0px 15px; border-bottom:1px #d9d9d9 solid; border-top:1px #d9d9d9 solid;}
.reg_form .item { border-bottom:1px #d9d9d9 solid; position:relative; padding-left:100px;}
.reg_form .item .t{ position:absolute; left:0px; top:0px; line-height:50px; font-size:12px; color:#000;}
.reg_form .item:last-child{ border-bottom:none; }

.reg_form .item .reg_input{ border:none; width:100%; height:50px; line-height:50px; background:#fff; font-size:12px;}
.reg_form .item .reg_textarea{ border:none; width:100%; height:60px; line-height:50px; background:#fff; font-size:12px;}

.reg_form .item2 { height:66px;}
.reg_form .item2 .t { top:8px;}
.reg_add_img { position:absolute; right:0px; top:8px; height:50px; }
.reg_add_img img{ display:block; height:50px; width:50px; border-radius:35px;}

.reg_btn_main { padding:0px 8px 15px 8px;}
.reg_btn_main .reg_btn { display:block; height:40px; line-height:40px; text-align: center; color:#fff; background:#3884ff; border:none;}

.reg_add_btn { display:inline-block; border:1px #d1dada solid; padding:0px 3em; height:38px; line-height:38px; font-size:12px; color:#333; background:#f5f6f6; margin-top:13px; border-radius:2px;} 